*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}


body{
    background-color: #252424
}

 header{
        
        align-items: flex-start;
        justify-content: flex-end;
        padding: 10px;
        display: flex;

     }
    header img{
        position: absolute;
        z-index: 1;
        width: 200px;
        left: 20px;
        display: flex;
        
    }
      nav a {
        text-decoration: none;
        color: #f1f6f8;
        font-weight: bold;
    display: flex; 
    }
        
        
        nav ul{
    list-style: none;
    margin: 10px;
    padding: 25px;
    
    gap: 150px;
  justify-content: center;
  position: fixed;
  left: 500px;
  display: flex;
}
nav ul{
    font-weight: bold;
    font-size: 30px;
    display: flex;
}
nav ul a:hover {
    color: #dba93c;
    transform: scale(1.3);
}

  .login-container{ 
    display: flex; 
    justify-content: center; 
    align-items: center;
font-size: larger;
padding: 200px;

}
    
    .login-container form{
        display: flex;
        flex-direction: column;
        color: #f8f3f3;
        font-size: larger;
        width: 50%;
       
    }
        
    .login-container label{
        margin-top: 25px;
        margin-bottom: 10px;
        
    }

    .login-container input{
        padding: 10px;
        border-radius: 10px;
        border: 1px solid #fff;
        background-color: transparent;
        color: #fff;
        font-size: medium;
    }

    .login-container input::placeholder{
        color: #90959775;
        font-size: large;
    }

    .login-container button{
        margin-top: 20px;
            padding: 12px;
                border: none;
                border-radius: 10px;
                font-weight: bold;
                background-color: transparent;
                
                
             }
             .login-container button{
                border: 1px solid #fff;
             }

    .login-container [type= submit] {
        background-color: #cb9216;
        color: #292727;
        font-size: large;
        padding: 10px;
        margin-top: 30px;
        width: 90%;
        justify-content: center;
        margin-left: 36px;
        cursor: pointer;
    }

.home{
    font-weight: 100;
}
.sobrenos{
    font-weight: 100;
}
.services{
    font-weight: 100;
}

@media screen and (max-width: 1024px){

header{
    height: 120px;

}


header img{
 width: 190px;

}


nav ul {
        font-size: xx-large;
        align-items: center;
        justify-content: space-between;
        gap: 80px;
        margin-left: -280px;
    }
  
    .login-container{
        width: 180%;
        margin-left: -390px;
        padding: 300px;

        
    }
    
.login-container [type= submit]{
    margin-left: 30px;
}

}

@media screen and (max-width: 480px){

    body{
        width: 390px;
        padding: auto;
    }
    header{
height: 80px;
    }
    header img{
        width: 100px;
    }
     
    nav ul{
      display: flex;
      flex-wrap: wrap;
      justify-content: center;
        margin: 0;
      padding: 10px;
      gap: 20px;
      font-size: 1rem;
      flex-wrap: wrap;
      
    }

    .login-container{
       width: 100%;
        margin-left: 0 auto;
        padding: 20px;
 }

 .login-container [type= submit]{
    margin-left: 18px;
 }

}


